h1 {
  text-align: center;
}

.jumbotron {
    background-color: skyblue;
}

#page-title {
  color: #6b32a8;
}

.bar-top {
  display: block;
}

.About {
  padding: 15px;
}

.Contact {

}

img {
  width: 30%;
  height: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#me {
  color: #50a832;
  padding: 30px;
}

#ol {
  padding-left: 22px;
}
