h1 {
  text-align: center;
}

.jumbotron {
    background-color: skyblue;
}

#page-title {
  color: #6b32a8;
}

 {
  display: block;
}

#home {
  padding: 15px;
}

#About {
  padding: 15px;
}

#Contact {
  padding: 15px;
}

blockquote {
  padding: 50px;
  float: right;
}

#well {
  background-color: #cf8927
}

#valley {
  width: 30%;
  height: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#thanks {
  width: 60%;
  height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#me {
  color: #50a832;
  padding: 20px;
  text-align: center;
}

#ol {
  padding-left: 22px;
}

ol {
  font-size: 17px;
}

.size-about {
  font-size: 17px;
}

#bg {
  background-color: #b7c4c9;
}

#bottom {
  padding-bottom: 40px;
}

#army {
  float: right;
  width: 37%;
  height: 37%;
}
